
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Play</h2>

<!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
<script type="text/javascript" src="~/Content/scripts/drawing-app-with-bucket.js"></script>
<div id="canvasDiv"></div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/custom")


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/play")

