
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Play.cshtml";
}

<h2>Play</h2>

       <div id="canvasDiv"></div>
    

    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="~/Content/scripts/drawing-app-with-bucket.js"></script>
    <script type="text/javascript">drawingApp.init();</script>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/custom")

