@{
    ViewBag.Title = "Telestrations";
}
<div class="jumbotron text-center">
    <h1>Telestrations</h1>
    <p class="lead">
        Telestration is a fun game to play with family and friends!<br />
        You better have your art skills ready!
    </p>
    <div class="row">
        <div class="input-group text-center" style="margin:auto;">
            <input id="game-number" class="form-control form-control-lg text-center" type="number" placeholder="Enter Game Number">
            <br /><br />
            <p><button id="join-game" class="btn btn-success btn-lg">Join a Game &raquo;</button></p>
            <br />
            <text id="test"></text>
        </div>
    </div>


</div>

<div class="row text-center">

    @if (Request.IsAuthenticated)
    {
        <div class="col-md-12">

            <button class="btn btn-warning btn-lg" onclick="location.href = '../Setup/Create';">
                Create a New Game!
            </button>
        </div>
    }
    else
    {

        <div class="col-md-6">
            <h2>Log In!</h2>
            <p>
                Log in to create and start a new game!
            </p>
            <button id="loginLink" class="btn btn-primary btn-lg" onclick="location.href = '../Account/Login';">
                Log In &raquo;
            </button>

        </div>
        <div class="col-md-6">
            <h2>Sign Up</h2>
            <p>Create an account!</p>
            <button id="registerLink" class="btn btn-primary btn-lg" onclick="location.href = '../Account/Register';">
                Sign Up! &raquo;
            </button>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/custom")