@model Project2.GameViewModel
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row text-center">
    <h1>@Model.name</h1>
    <p>
        Created by @Model.owner
    </p>
</div>

<div class="row">
   
        <div class="col-md-4 pull-left">

        </div>
        <div>
            <div id="canvasDiv"></div>
            <div class="input-group text-center" style="margin:auto;">
                <input id="guess" class="form-control form-control-lg text-center" type="number" placeholder="Enter A Guess">
                <br /><br />
                <p><button id="send-guess" class="btn btn-success btn-lg">Guess</button></p>
                <br />
            </div>
        </div>
        
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/play")

