@using Microsoft.AspNet.Identity
@model Project2.GameViewModel
@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="game-id" data-id="@Model.ID">@Model.name</h2>

<table id="players" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Game Id</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
@Scripts.Render("~/scripts/players")
