
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Play.cshtml";
}

<h2>Play</h2>

<div id="canvasDiv"></div>
<script type="text/javascript" src="~/Content/scripts/Play.js"></script>
<script type="text/javascript">
    Play.init();
</script>